@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap')
.category-page
    display: grid
    grid-template-columns: 15% 85%
    grid-template-rows: auto
    background-color: #F6F6F6
    .category-title
        position: relative
        border-top: 1px solid rgb(102, 46, 46, 0.4)
        h1
            position: absolute
            color: #fff
            top: 18%
            left: 20%
            padding: 10px
            text-align: center
            font-size: 80px
            font-weight: 400
            font-family: 'Lobster', sans-serif
        img
            padding: 15px
            height: 250px
            width: 100%
            object-fit: cover
            background-color: #ffff

